{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
Account
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/account.css' %}" rel="stylesheet">

<div class="account-container">
    <div class="user-info">
        {% if user.userprofile.picture %}
            <img src="{{ user.userprofile.picture.url }}" alt="Profile Picture">
        {% endif %}
        <h2>Username: {{ user.username }}</h2>
        <h4>Phone number: {{ user.userprofile.phone_number }}</h4>
    </div>

    <div class="user-reviews">
        <h2>My Reviews</h2>
        {% for review in user_reviews %}
            <div class="review-item">
                <h4>{{ review.movie }}</h4>
                <h5>Rating: {{ review.rating }}</h5>
                <p>{{ review.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class="watch-list">
    <div class="watch-list-header">
        <h2>Wishlist</h2>
        <form action="{% url 'CriticCorner:wishlist' %}" method="GET">
            <button type="submit" class="edit-watch-list">Edit Wishlist</button>
        </form>
    </div>
    <div class="movie-items-container">
        {% for item in user_wishlist %}
            <a href="{% url 'CriticCorner:movie' item.movie.slug %}" class="movie-link">
                <div class="movie-item">
                    <img src="{{ item.movie.poster.url }}" alt="{{ item.movie.title }} Poster">
                    <h3>{{ item.movie }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}