{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/account.css' %}" rel="stylesheet">

<div class="container">
    <div class="account-info account-section">
        <h2>Account Information</h2>
        <div class="info-item">Username: {{ user.username }}</div>
        <div class="info-item">Email: {{ user.email }}</div>
        <!-- !!!!!!!!Add more info -->
    </div>

    <div class="user-reviews account-section">
        <h2>My Reviews</h2>
        <!-- User's reviews -->
    </div>

    <div class="user-wishlist account-section">
        <h2>My Wishlist</h2>
        <!-- User's wishlists -->
        {% include 'wishlist.html' %}
    </div>

    <div class="user-history account-section">
        <h2>Viewing History</h2>
        <!-- User's browse history -->
    </div>
</div>
{% endblock %}
