{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title %}
    Contact
{% endblock %}

{% block body_block %}
<style>
    .feedback {
        text-align: center;
    }

</style>
<form action="{% url 'CriticCorner:contact' %}" method="post">
    {% csrf_token %}
    <div class="feedback">
        <h3>Tell us about your issues and we'll find the BEST solution for you.</h3>
        <textarea name="feedback" cols="100" rows="10" placeholder="Enter your feedback"></textarea><br>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}