{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block body_block %}
<style>
    .title {
        text-align: left;
        margin-left: 50px;
    }
    .poster {
        width: 200px;
        height: auto;
        border-radius: 8px;
    }

    .name {
        text-align: center;
        color: black;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .container {
        overflow-x: auto;
    }

    .container > div {
        margin-right: 10px;
    }
</style>
<div>
    <h5 class="title">Most Popular</h5>
    <div class="container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' title=movie.title %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div>
    <h5 class="title">New Released</h5>
    <div class="container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' movie.title %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
  </div>
</div>

<div>
    <h5 class="title">TOP 10 Rated</h5>
    <div class="container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' movie.title %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
  </div>
</div>
{% endblock %}