{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
<style>
    
</style>
<div>
    <h5 class="title">Most Popular</h5>
    <div class="movie-container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' slug=movie.slug %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div>
    <h5 class="title">New Released</h5>
    <div class="movie-container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' slug=movie.slug %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
  </div>
</div>

<div>
    <h5 class="title">TOP 10 Rated</h5>
    <div class="movie-container">
        {% for movie in movies %}
        <div>
            <a href="{% url 'CriticCorner:movie' slug=movie.slug %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                <p class="name">{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
  </div>
</div>
{% endblock %}