{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<style>
    h1 {
        text-align: center;
    }

    #login_form {
        text-align: center;
    }

    #login_form input[type="text"],
    #login_form input[type="password"],
    #login_form input[type="submit"] {
        margin-bottom: 20px; 
    }
</style>
<h1>Login to CriticCorner</h1>
<form id="login_form" method="post" action="{% url 'CriticCorner:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="Login" />
</form>
{% endblock %}