{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<style>

    .login-container {
        text-align: center;
        margin-top: 50px;
    }

    .login-form {
        margin: 0 auto;
        max-width: 400px;
    }

    .form-input {
        margin-bottom: 20px;
    }
</style>

<div class="login-container">
    <h1>Login to CriticCorner</h1>
    <form class="login-form" method="post" action="{% url 'CriticCorner:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control form-input" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control form-input" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
