{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title %}
{{ movie.title }}
{% endblock %}

{% block body_block %}
{% for movie in movies %}
<div class="movie-card">
    <div class="movie-details">
        <a href="{% url 'CriticCorner:movie' title=movie.title %}">
            <img class="poster" src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
        </a>
        <h3 class="title">{{ movie.title }}</h3>
        <p class="genre">Genre: {{ movie.genre }}</p>
        <p class="views">Views: {{ movie.views }}</p>
        <p class="avg-rating">Average Rating: {{ movie.avg_rating }}</p>
        
        <form method="post" action="{% url 'CriticCorner:add_review' %}">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user }}">
            <input type="hidden" name="movie" value="{{ movie.pk }}">
            <input type="number" name="rating" min="1" max="5" required>
            <button type="submit" class="submit-btn">Rate Movie</button>
        </form>
        
        <form method="post" action="{% url 'CriticCorner:add_wishlist' %}">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user }}">
            <input type="hidden" name="movie" value="{{ movie.pk }}">
            <button type="submit" class="submit-btn">Add to Wishlist</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}