{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/search.css' %}" rel="stylesheet">

<div class="clearfix">
    <div class="filter-section">
        <div class="filter-title">BY Genre</div>
        <div class="filter-group" id="genre-filter">
            {% for key, genre in genres.items %}
            <label id="genre"><input type="checkbox" class="filter-checkbox" value="{{ key }}">{{ genre }}</label><br>
            {% endfor%}
        </div>
        <div class="filter-title">BY Release Date</div>
<div class="filter-group" id="release-date-filter">
    <label><input type="checkbox" class="filter-checkbox" value="3_months">Within 3 months</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="1_year">Within 1 year</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="5_years">Within 5 years</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="10_years">Within 10 years</label><br>
</div>
<div class="filter-title">BY Language</div>
<div class="filter-group" id="language-filter">
    <label><input type="checkbox" class="filter-checkbox" value="en">English</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="zh">Chinese</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="fr">French</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="de">German</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="it">Italian</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="ja">Japanese</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="ko">Korean</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="es">Spanish</label><br>
</div>
        <button id="filter-button">Apply Filters</button>
    </div>

    <div class="sort-section">
        <select id="sort-select">
            <option value="default">Default</option>
            <option value="popularity">Popularity</option>
            <option value="release_date">Release Date</option>
            <option value="title">Title</option>
        </select>
        <button id="sort-button">Sort</button>
    </div>
    <div class="results-section">
        <h3>Search Results for "{{ query }}":</h3>
        <div class="movies-container" id="movies-container">
            {% for movie in movies %}
                {% if movie.poster_path %}
                    <div class="movie-card" id="movie-card" data-movie-slug="{{ movie.slug }}" data-title = "{{ movie.title }}" 
                        data-rating = "{{ movie.rating }}" data-views = "{{ movie.views }}" data-release-date = "{{ movie.release_date }}" data-language = "{{ movie.original_language }}"
                        data-genre = "{{ movie.genre_ids }}" data-popularity = "{{ movie.popularity }}">
                        <form action="{% url 'CriticCorner:movie' slug=movie.slug %}" id="{{ movie.id }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="api_id" value="{{ movie.id }}">
                        <input type="hidden" name="title" value="{{ movie.title }}">
                        <input type="hidden" name="release_date" value="{{ movie.release_date }}">
                        <input type="hidden" name="language" value="{{ movie.original_language }}">
                        <input type="hidden" name="genre" value="{{ movie.genre_ids }}">
                        <input type="hidden" name="popularity" value="{{ movie.popularity }}">
                        <input type="hidden" name="poster_path" value="{{ movie.poster_path }}">

                        <input type="image" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster">

                        <a  href="{% url 'CriticCorner:movie' slug=movie.slug %}" onclick="document.getElementById('{{ movie.id }}').submit(); return false;" ><span class="title">{{ movie.title }}</span></a>
                        
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src={% static 'javascript/search.js' %}></script>
{% endblock %}