{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<style>
    .filter-section {
        float: left;
        width: 20%;
        padding: 20px;
        border-right: 2px solid #ddd;
    }

    .results-section {
        float: right;
        width: 75%;
        padding: 20px;
    }

    .search-bar-container {
        text-align: center;
        padding: 20px 0;
    }

    .search-input {
        width: 60%;
        padding: 10px;
        font-size: 20px;
        margin-right: -4px;
        border: 2px solid #ddd;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .search-button {
        padding: 12px 20px;
        font-size: 20px;
        border: none;
        background-color: #333;
        color: white;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
    }

    .search-button:hover {
        background-color: #555;
    }

    .filter-title {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .filter-group {
        margin-bottom: 20px;
    }

    .filter-checkbox {
        margin-right: 5px;
    }

    .result-item {
        margin-bottom: 10px;

        background: #ccc;
        width: 100%;
        padding-top: 56.25%;

        position: relative;
    }

    .sort-section {
        text-align: right;
        margin-bottom: 10px;
    }


    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .movie-card {
        display: inline-block; /* Display movie cards inline */
        margin-right: 20px; /* Adjust margin between movie cards */
        text-align: center; /* Center-align the content within each movie card */
        width: 220px; /* Set a fixed width for movie cards */
        height: 380px; /* Set a fixed height for movie cards */
        position: relative; /* Positioning for title */
    }

    .movie-card img {
        width: 200px; /* Adjust width of movie poster */
        height: 300px; /* Adjust height of movie poster */
        object-fit: cover; /* Maintain aspect ratio and fill the container */
    }

    .no-poster {
        width: 200px; /* Adjust width of placeholder */
        height: 300px; /* Adjust height of placeholder */
        background-color: #ccc; /* Placeholder background color */
        display: flex;
        align-items: center; /* Center-align content vertically */
        justify-content: center; /* Center-align content horizontally */
    }

    .movie-title {
        display: block; /* Display the title on a new line */
        margin-top: 10px; /* Adjust spacing between the poster and title */
    }

    a {
        color: black;
    }
</style>

<div class="clearfix">
    <div class="filter-section">
        <div class="filter-title">BY Genre</div>
        <div class="filter-group" id="genre-filter">

            {% for key, genre in genres.items %}
            <label id="genre"><input type="checkbox" class="filter-checkbox">{{ genre }}</label><br>
            {% endfor%}
            {% comment %} <label><input type="checkbox" class="filter-checkbox">Comedy</label><br>
            <label><input type="checkbox" class="filter-checkbox">Horror</label><br>
            <label><input type="checkbox" class="filter-checkbox">Science</label><br>
            <label><input type="checkbox" class="filter-checkbox">Crime</label><br>
            <label><input type="checkbox" class="filter-checkbox">Drama</label><br>
            <label><input type="checkbox" class="filter-checkbox">Fantasy</label><br>
            <label><input type="checkbox" class="filter-checkbox">Romance</label><br> {% endcomment %}
        </div>
        <div class="filter-title">BY Release Date</div>
<div class="filter-group" id="release-date-filter">
    <label><input type="checkbox" class="filter-checkbox" value="3_months">Within 3 months</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="1_year">Within 1 year</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="5_years">Within 5 years</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="10_years">Within 10 years</label><br>
</div>
<div class="filter-title">BY Language</div>
<div class="filter-group" id="language-filter">
    <label><input type="checkbox" class="filter-checkbox" value="en">English</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="zh">Chinese</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="fr">French</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="de">German</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="it">Italian</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="ja">Japanese</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="ko">Korean</label><br>
    <label><input type="checkbox" class="filter-checkbox" value="es">Spanish</label><br>
</div>
        <button id="filter-button">Apply Filters</button>
    </div>

    <div class="sort-section">
        <select id="sort-select">
            <option value="default">Default</option>
            <option value="popularity">Popularity</option>
            <option value="release_date">Release Date</option>
            <option value="release_date">Title</option>
        </select>
        <button id="sort-button">Sort</button>
    </div>
    <div class="results-section">
        <h3>Search Results for "{{ query }}":</h3>
        <div class="movies-container" id="movies-container">
            {% for movie in movies %}
                <div class="movie-card" id="movie-card" data-movie-slug="{{ movie.slug }}" data-title = "{{ movie.title }}" 
                    data-rating = {{ movie.rating }} data-views = {{ movie.views }} data-release-date = "{{movie.release_date}}">
                    {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
                    {% else %}
                        <div class="no-poster"></div>
                    {% endif %}
                    <span class="title">{{ movie.title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <script>

    const sortButton = document.getElementById('sort-button');
    sortButton.addEventListener('click', handleSortClick);

    const genreButton = document.getElementById('')

    function sortByDate(a, b){
        const releaseDateA = new Date(a.dataset.releaseDate);
        const releaseDateB = new Date(b.dataset.releaseDate);
        
        return releaseDateA - releaseDateB;
    }

    function sortByRating(a,b){
        const ratingA = a.dataset.rating
        const ratingB = b.dataset.rating

        return ratingA - ratingB;
    }

    function sortByTitle(a, b){
        const titleA = a.dataset.title
        const titleB = b.dataset.title

        return titleA < titleB;
    }

    function sortMoviesByCriteria(sortFunc){
        const resultsContainer = document.getElementById('movies-container');
        const results = Array.from(resultsContainer.querySelectorAll('.movie-card'));
        
        results.sort(sortFunc);
    
        // Clear the container
        resultsContainer.innerHTML = '';
    
        // Append the sorted results to the container
        results.forEach(result => resultsContainer.appendChild(result));
    }

    function handleSortClick() {
        const sortSelect = document.getElementById('sort-select');
        const selectedOption = sortSelect.value;
    
        switch (selectedOption) {
            case 'popularity':
                sortMoviesByCriteria(sortByRating);
                break;
            case 'release_date':
                sortMoviesByCriteria(sortByDate);
                break;
            case 'title':
                sortMoviesByCriteria(sortByTitle);
                break;
            default:
                // No sorting or default sorting logic
                break;
        }
    }
    </script>
{% endblock %}