{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title %}
    Wishlist
{% endblock %}

{% block body_block %}
{% for movie in movies %}
    <div>
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
        <h3>{{ movie.title }}</h3>
        <p>Genre: {{ movie.get_genre_display }}</p>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>Views: {{ movie.views }}</p>
        <p>Ratings: {{ movie.ratings }}</p>
        <p>Average Rating: {{ movie.avg_rating }}</p>
        <form method="post" action="{% url 'remove_from_wishlist' movie.title %}">
            {% csrf_token %}
            <button type="submit">Remove from Wishlist</button>
        </form>
    </div>
{% endfor %}
{% endblock %}