{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Wishlist
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/wishlist.css' %}" rel="stylesheet">

<div class="wishlist">
    <h2>My Wishlist</h2>
    <div class="wishlist-items">
        {% for item in wishlist_items %}
        <div class="wishlist-item">
            <a href="{% url 'CriticCorner:movie' title=item.movie.title %}">
                <img src="{{ item.movie.poster.url }}" alt="{{ item.movie.title }} Poster" class="poster">
                <p class="name">{{ item.movie.title }}</p>
            </a>
            <form action="{% url 'CriticCorner:remove_from_wishlist' %}" method="post" class="remove-form">
                {% csrf_token %}
                <input type="hidden" name="movie_id" value="{{ item.movie.id }}">
                <button type="submit" class="remove-btn">Remove from Wishlist</button>
            </form>
        </div>
        {% empty %}
            <p>Your wishlist is empty.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}