{% extends 'CriticCorner/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<link href="{% static 'styles/registration_form.css' %}" rel="stylesheet">

    <div class="register-form">
        <h1>Register Here</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />
        </form>
        <p>Already registered? <a href="{% url 'auth_login' %}">Log in here!</a></p>
    </div>
{% endblock %}