.title {
    text-align: left;
    margin-left: 50px;
}
.poster {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.name {
    text-align: center;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.movie-container {
    overflow-x: auto;
    justify-content: center;
}

.movie-container > div {
    margin-right: 10px;
}